@charset "UTF-8";
/* rem */
@media only screen and (max-width:1080px),only screen and (max-device-width:1080px){
    html{font-size:33.75px;}
}
@media only screen and (max-width:960px),only screen and (max-device-width:960px){
    html{font-size:30px;}
}
@media only screen and (max-width:800px),only screen and (max-device-width:800px){
    html{font-size:25px;}
}
@media only screen and (max-width:720px),only screen and (max-device-width:720px){
    html{font-size:22.5px;}
}
@media only screen and (max-width:640px),only screen and (max-device-width:640px){
    html{font-size:20px;}
}
@media only screen and (max-width:600px),only screen and (max-device-width:600px){
    html{font-size:18.75px;}
}
@media only screen and (max-width:540px),only screen and (max-device-width:540px){
    html{font-size:16.875px;}
}
@media only screen and (max-width:480px),only screen and (max-device-width:480px){
    html{font-size:15px;}
}
@media only screen and (max-width:414px),only screen and (max-device-width:414px){
    html{font-size:12.9375px;}
}
@media only screen and (max-width:400px),only screen and (max-device-width:400px){
    html{font-size:12.5px;}
}
@media only screen and (max-width:375px),only screen and (max-device-width:375px){
    html{font-size:11.71875px;}
}
@media only screen and (max-width:360px),only screen and (max-device-width:360px){
    html{font-size:11.25px;}
}
@media only screen and (max-width:320px),only screen and (max-device-width:320px){
    html{font-size:10px;}
}
@media only screen and (max-width:320px) and (max-height:416px),only screen and (max-device-width:320px) and (max-device-height:480px){
    html.narrow-screen{font-size:8.5px;}/* 窄屏 */
}
@media only screen and (max-width:240px),only screen and (max-device-width:240px){
    html{font-size:7.5px;}
}
/* flex */
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:flex-start;-ms-flex-pack:center;justify-content:flex-start;}
.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.flex-box { display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-moz-box-orient: horizontal;-webkit-box-orient: horizontal;-o-box-orient: horizontal;box-orient: horizontal;}

.hide{display:none!important;}
.show{display:block!important;}

/*遮罩*/
.mask{position:fixed;width:100%;height:100%;left:0;top:0;bottom:0; z-index:999;}

/* 错误提示弹层 */
.c-float-modePop {
	text-align: center;
	background-color: #FAFAFC;	
}
.c-float-modePop .warnMsg {
	padding: 20px 10px 10px 10px;
	color: #fff
}
.c-float-modePop .doBtn {
	width: 100%;
	margin: 0 auto;
}
.c-float-modePop button {
	padding:6px 9px 6px 9px;
	color:#949494;
	border:0;
}
.c-float-shade {
	width: 100%;
	display: block;
	position: absolute;
	z-index: 99;
	background-color:#000;
	opacity:.5;
	top: 0;
	left: 0
}
.c-float-shade.hide {
	display: none
}
.c-float-popWrap {
	width: 85%;
	z-index: 9999;
	position: fixed;
	border-radius:5px;
    overflow: hidden;
	border:1px solid #D5D5D5;	
	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.c-float-popWrap .c-float-modePop {
	overflow: hidden;
	border-radius:6px;
}
.c-float-popWrap .c-float-modePop .warnMsg {
    padding: 0.8em 0 0.8em;
	font-size: 15px;
	color: #333;
}
.c-float-popWrap .c-float-modePop .content {
    padding: 0 20px;
    font-size: 14px;
    color: #888;
    word-wrap: break-word;
    word-break: break-all;
	text-align: left;
}
.c-float-popWrap .c-float-modePop .doBtn {
	width: 100%;
	margin-top: 15px;
	position: relative;
}
.c-float-popWrap .c-float-modePop .doBtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #D5D5D5;
    color: #D5D5D5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}
.c-float-popWrap .c-float-modePop button {
	background-color: #FAFAFC;
	width: 50%;
	height: 42px;
	line-height: 42px;
	color: #444;
	font-size:17px;
	border: 0;
	padding: 0;
}
.c-float-popWrap .c-float-modePop button.ok{
	color: #0BB20C;
}   
.c-float-popWrap .c-float-modePop button.cancel{
	position: relative;
} 
.c-float-popWrap .c-float-modePop button.cancel:after {
    content: " ";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    border-left: 1px solid #D5D5D5;
    color: #D5D5D5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.c-float-popWrap.hide {
	display: none;
	-webkit-box-shadow: none
}
.c-float-popWrap.show {
	display: block;
}
.c-float-popWrap.msgMode .c-float-modePop .content, .c-float-popWrap.msgMode .c-float-modePop .doBtn {
	display: none
}

.c-float-popWrap.alertMode .c-float-modePop .doBtn .cancel {
	display: none
}
.c-float-popWrap.confirmMode .c-float-modePop .content, .c-float-popWrap.confirmMode .c-float-modePop .doBtn {
	display: block
}

.confirm_input{
	border: 1px solid #D5D5D5;
	padding:10px;
	width: 70%;
}
.weui_mask_transparent {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-color:rgba(0,0,0,0.5);
}
.cx_mask_transparent{
	position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.web_toast{
    position: fixed;
	margin-bottom:40px;
    z-index: 9999;
    display: none;
    display: block;
    padding: 10px;
    color: #FFFFFF;
	background: rgba(0, 0, 0, 0.7);
    font-size:0.9rem;
    text-align: center;
    border-radius:6px;
}